.brick {
  display: inline-block;
  background-color: red;
  width: 20px;
  height: 60px;
  margin: 2px;
}

.brick-col {
  display: block;
}

.hidden {
  visibility: hidden;
}

/*136*340*/
brick-board {
	position: absolute;
	left: calc(50% - 68px);
	top: calc(50% - 170px);
}